<!--<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>DocsService</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header-line"></div>
        <div class="header-line-2"></div>
    </header>
    <div class="auth-container">
        <h1>Авторизация пользователя</h1>
        <img src="images/User.png" class="img-user" />
        <form id="loginForm">
            <div class="input-group">

                <input type="text" id="username" name="username" placeholder="Логин" required />
            </div>

            <div class="input-group">

                <input type="password" id="password" name="password" placeholder="Пароль" required />
            </div>

            <button type="submit" class="login-btn">Войти</button>
        </form>
        <div id="errorMessage" class="error-message"></div>
    </div>

    <footer class="footer">
        <div class="footer-line"></div>
        <div class="footer-line-2"></div>
        <img src="images/logo.png" class="footer-logo"/>

    </footer>
    <script src="app.js"></script>
</body>

</html>-->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>DocsService</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header-line"></div>
        <div class="header-line-2"></div>
    </header>
    <div class="auth-container">
        <h1>Авторизация пользователя</h1>
        <img src="images/User.png" class="img-user" />
        <form id="loginForm">
            <!-- Добавляем CSRF-токен для защиты от подделки запросов -->
            <input type="hidden" name="__RequestVerificationToken"
                   value="@Html.AntiForgeryToken()" id="csrf-token" />

            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="Логин" required />
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Пароль" required />
            </div>

            <button type="submit" class="login-btn">Войти</button>
        </form>
        <div id="errorMessage" class="error-message"></div>
    </div>

    <footer class="footer">
        <div class="footer-line"></div>
        <div class="footer-line-2"></div>
        <img src="images/logo.png" class="footer-logo" />
    </footer>
    <script src="app.js"></script>
</body>
</html>
